<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://smartmobilestudio.com/documentation/get-the-book/" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Book</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
